langchain==0.3.17
langgraph==0.2.66
langchain-community==0.3.16
langchain-google-genai==2.0.11
fastapi==0.115.6
uvicorn==0.34.0
pypdf2==3.0.1
pypdf==5.1.0
python-multipart==0.0.20
httpx==0.28.1
pydantic==2.10.4
pydantic-settings==2.7.1
python-dotenv==1.0.1
